body {
    background-color: #e7e7e7;
    margin: 10px;
    margin-top: 0px;

}

#main {
    z-index: 1;
}

.topbar {
    display: flex;
    border-bottom: 2px solid #000000;
    background-color: #1d1d1d;
    margin: 0px;
}
.TitleHeader {
    text-align: center;
    background-color: #475a00;
    border: 2px solid #000000;
} 

#CrabLogo {
    width: 40px;
}


.WebsitePurpose {
    border-bottom: 2px solid #000000;
    margin-bottom: 8px;
    padding-left: 15px;
}

/*This section controls the collapsible nav menu */
.sidebarActive {
display: none;
position:relative; top:0px;   
float: left; 
z-index: 999;
}

.sidebarActive{
position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1} /*Took this from https://www.w3schools.com/w3css/4/w3.css */
}

/* Make this work for the back animate
.sidebarActive {
    position: relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}
}

*/

.collapsible {
background-color: #787878;
color: #ffffff;
cursor: pointer;
padding: 18px;
width: 100%;
border: none;
text-align: left;
outline: none;
font-size: 15px;
}

.active, .collapsible:hover{
background-color: #475a00;
}

.navContent {
display: none;
overflow: hidden;
background-color: #787878;
transition: max-height 0.2s ease-out;
}

.navContent a {
display: block;
text-align: center;
padding: 5px;
border: 1px solid #000000;
color: #b9b9b9;
}

.navContent a:visited{
color:#b9b9b9;
}

.navContent a:hover {
color:#fbff00;
}

#closeNavBar {
    font-size: 120%;
    margin-top: 5px;
}

#openNav {
    font-size: 150%;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
}

#HomePageWrapper {
    background-color: #787878;
    color: #ffffff;
    padding-left: 18px;
    padding-bottom: 15px;
    padding-right: 5px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#HomePage {
    position: relative; 
    top: 5px;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    padding-top: 3px;
}

/*This is the color "pallete" for the two diffrent types of articles */
.softwareTipsColor{
background-color: #455263;
}

.lifeTipsColor{
background-color: #694949;
}


/*This section changes affects article layout and more*/
.teaserArticle {
    padding: 24px;
    padding-top: 16px;
    padding-bottom: 6px;
    border: 2px solid #000000;
    border-radius: 10%;
    color: #FFFFFF;
}

.teaserArticle a {
    color: #FBFF00;
    display: block;
    text-align: center;
    padding-bottom: 16px;
    font-size: 18px;
}

.gridWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:10px;
    grid-auto-rows: minmax(auto, auto);
}

.teaserArticle1 {
    grid-column: 1;
    grid-row: 1;
}

.teaserArticle2 {
    grid-column: 2;
    grid-row: 1;
}

.teaserArticle3 {
    grid-column: 1;
    grid-row: 2;
}

.teaserArticle4 {
    grid-column: 2;
    grid-row: 2;
}

.teaserImage {
    height: 64%;
    min-width: 200px;
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

@media only screen and (max-width: 910px) {
    .gridWrapper {
    display: flex;
    flex-wrap: wrap;
    }
    #closeNavBar {
        margin-right: 20px;
        font-size: 150%;
    }
    .sidebarActive {
        font-size: 150%;
    }
    #HomePageWrapper {
        padding-top: 15px;
        width: 93.7%;
    }
    #HomePage {
        font-size: 250%;
    }

    .collapsible {
        font-size: 130%;
        width: 97%;
        }
    .navContent {
        width: 97%;
    }

}



/*Everyday and software css*/

.mainArticle {
    display: flex;
    flex: wrap;
    border-bottom: solid 2px #000000;
}
.mainArticle img {
    max-width: 400px;
    margin: 20px;
}
