body {
    background-color: #e7e7e7;
}

#main {
    z-index: 1;
    padding-left: 5px;
    padding-right: 5px;
}

.topbar {
    display: flex;
    border-bottom: 2px solid #000000;
    background-color: #1d1d1d;
    margin: 0px;
}
.TitleHeader {
    text-align: center;
    background-color: #8b8b8b;
    margin-top: 0px;
    border: 2px solid #000000;
} 

#CrabLogo {
    width: 40px;
}


.WebsitePurpose {
    border-bottom: 2px solid #000000;
    margin-bottom: 8px;
}

/*This section controls the collapsible nav menu */
.sidebarActive {
display: none;
position:relative; top:0px;   
float: left; 
z-index: 999;
}

.sidebarActive{
position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1} /*Took this from https://www.w3schools.com/w3css/4/w3.css */
}

/* Make this work for the back animate
.sidebarActive {
    position: relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}
}

*/

.collapsible {
background-color: #787878;
color: #ffffff;
cursor: pointer;
padding: 18px;
width: 100%;
border: none;
text-align: left;
outline: none;
font-size: 15px;
}

.active, .collapsible:hover{
background-color: #475a00;
}

.navContent {
padding: 0 18px;
display: none;
overflow: hidden;
background-color: #787878;
transition: max-height 0.2s ease-out;
}

.navContent a {
display: block;
text-align: center;
padding: 5px;
border: 1px solid #000000;
color: #b9b9b9;
}

.navContent a:visited{
color:#b9b9b9;
}

.navContent a:hover {
color:#fbff00;
}

#closeNavBar {
float: right;

}


#HomePage {
background-color: #787878;
color: #ffffff;
cursor: pointer;
padding-left: 18px;
padding-bottom: 18px;
padding-right: 18px;
width: 100%;
border: none;
text-align: left;
outline: none;
font-size: 15px;
}

/*This is the color "pallete" for the two diffrent types of articles */
.softwareTipsColor{
background-color: #455263;
}

.lifeTipsColor{
background-color: #694949;
}


/*This section changes affects article layout and more*/
.teaserArticle {
    padding: 16px;
    border: 2px solid #000000;
    border-radius: 10%;
    color: #FFFFFF;
}

.teaserArticle a {
    color: #FBFF00;
}

.gridWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:10px;
    grid-auto-rows: minmax(auto, auto);
}

.teaserArticle1 {
    grid-column: 1;
    grid-row: 1;
}

.teaserArticle2 {
    grid-column: 2;
    grid-row: 1;
}

.teaserArticle3 {
    grid-column: 1;
    grid-row: 2;
}

.teaserArticle4 {
    grid-column: 2;
    grid-row: 2;
}

.teaserImage {
    min-width: 200px;
    max-width: 400px;
    margin: 5px;
    
}

@media only screen and (max-width: 910px) {
    .gridWrapper {
    display: flex;
    flex-wrap: wrap;
    }
}
